#area-do-jogo{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    height: 150px;
}

#first-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding:5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#second-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding:5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#third-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding: 5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#first-disc{
    width: 80px;
    background-color: hotpink;
}
#second-disc{
    width: 60px;
    background-color: greenyellow;
}
#third-disc{
    width: 40px;
    background-color: blueviolet;
}