#area-do-jogo{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    height: 150px;
}

#first-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding:5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#second-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding:5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#third-tower{
    background-image: url("../img/NovoProjeto.png");
    background-size: 86px;
    background-position: center bottom;
    border: 2px solid black;
    border-radius: 5px;
    width: 80px;
    height: 110px;
    padding: 5px;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
}

#first-disc{
    width: 80px;
    background-color: hotpink;
}
#second-disc{
    width: 60px;
    background-color: greenyellow;
}
#third-disc{
    width: 40px;
    background-color: blueviolet;
}


/* 
#first-disc{
    position: absolute;
    background-color: blueviolet;
    width: 40px;
    left:30px;
    top: 43px;
}
#second-disc{
    position: absolute;
    background-color: brown;
    width: 60px;
    left:20px;
    top: 63px;
}
#third-disc{
    position: absolute;
    background-color: chartreuse;
    width: 80px;
    left:12px;
    top: 83px;
} */
#btn_firstTo_second{
    color: black;
    font-weight: bolder;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 70px;
}